<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRENDZ SHOP</title>
    <style>
        .pro,a{
            width: 15%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body style="background-color: rgb(233, 223, 234);">
    <section id="header">
        <a href="#" id="logolink"><div id="logo">TRENDZ</div></a>
        <div id="nav">
            <ul id="navbar">
                <li class="homenav"><a href="/home">Home</a></li>
                <li class="shopnav"><a class="active" href="/shop">Shop</a></li>
                <li class="cartnav"><a href="/cart">Cart</a></li>
                <li class="loginnav"><a href="/alogin">Admin</a></li>
                <li class="logoutnav"><a href="/logout">Logout</a></li>
            </ul>
        </div> 
    </section>
    <section id="product1" class="section-p1">
        <p style="padding-top: 30px;">Summer collection New Mordern Design</p>
        <div class="pro-container" id="p">
            <h3 class="pro-container">Short Sleeve Mens Hawaiian Shirts</h3><br>
            <a href="/product/f1"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/f1.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Shirts</h5>
                    <h4>499.70 Rs</h4>
                </div>
            </div></a>
            <a href="/product/f2"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/f2.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>King Kameha</h5>
                    <h4>459.50 Rs</h4>
                </div>
            </div></a>
            <a href="/product/f3"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/f3.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Natural</h5>
                    <h4>750.45 Rs</h4>
                </div>
            </div></a>
            <a href="/product/f4"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/f4.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Floral print</h5>
                    <h4>370.80 Rs</h4>
                </div>
            </div></a>
            <a href="/product/f5"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/f5.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Slim fit</h5>
                    <h4>560.00 Rs</h4>
                </div>
            </div></a>
            <h3 class="pro-container">Women Wear</h3><br>
            
            <a href="/product/f8"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/f8.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Tops</h5>
                    <h4>280.40 Rs</h4>
                </div>
            </div></a>
            <a href="/product/f7"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/f7.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Casual pant</h5>
                    <h4>430.40 Rs</h4>
                </div>
            </div></a>
            <h3 class="pro-container">Formal Shirts</h3><br>
            <a href="/product/n1"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/n1.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Collarless shirt</h5>
                    <h4>560.00 Rs</h4>
                </div>
            </div></a>
            <a href="/product/n2"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/n2.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Semi formal shirt</h5>
                    <h4>459.50 Rs</h4>
                </div>
            </div></a>
            <a href="/product/n3"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/n3.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Formal shirt</h5>
                    <h4>399.70 Rs</h4>
                </div>
            </div></a>
            <h3 class="pro-container">Casual Shirts</h3><br>
            <a href="/product/n4"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/n4.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Printed Casual Shirt</h5>
                    <h4>430.55 Rs</h4>
                </div>
            </div></a>
            <a href="/product/f6"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/f6.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Casual Shirt</h5>
                    <h4>700.20 Rs</h4>
                </div>
            </div></a>
            <h3 class="pro-container">Denim Shirts</h3><br>
            <a href="/product/n5"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/n5.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Denim shirt</h5>
                    <h4>650.00 Rs</h4>
                </div>
            </div></a>
            <a href="/product/n7"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/n7.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Over Shirt</h5>
                    <h4>650.99 Rs</h4>
                </div>
            </div></a>
            <a href="/product/n8"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/n8.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Linen Shirt</h5>
                    <h4>560.89 Rs</h4>
                </div>
            </div></a>
            <h3 class="pro-container">Trousers</h3><br>
            <a href="/product/n6"><div class="pro">
                <img src="https://sajee.s3.ap.cloud-object-storage.appdomain.cloud/products/n6.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Trouser</h5>
                    <h4>499.59 Rs</h4>
                </div>
            </div></a>
        </div>
    </section>
</body>
</html>